$BadgeFont: "Raleway", sans-serif;
$TheMostBlue: #005bff;
$DefaultBlue: #0050e0;
$BlueButtonHover: #003594;
$OrangeInCards: #f79e1b;
$Errorred: #cc0019;
$Pink: #f91155;
$ForLightLight: #e9f1ff;
$BackOfPhotos: #f2f3f5;
$Texts: #001a34;
