@import "../../../styles/$variables.scss";
.filter {
  margin-top: 50px;
  &-head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &-back {
      margin-right: 15px;
      cursor: pointer;
    }
    &-umbrella {
      margin-right: 10px;
    }
    &-text {
      font-size: 24px;
    }
  }
  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
